<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Mi App</title>
    {{#if cssFile}}
    <link rel="stylesheet" href="/css/{{cssFile}}">
    {{/if}}
    {{{styles}}}
</head>
<body>
    {{{body}}}
    {{#if jsFile}}
    <script src="/js/{{jsFile}}"></script>
    {{/if}}
    {{{scripts}}}
</body>
</html>